<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>470335422668-b22519rph32lfil5s64ukdp4d9m2rds9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470335422668-b22519rph32lfil5s64ukdp4d9m2rds9</string>
	<key>API_KEY</key>
	<string>AIzaSyAjcf1B8mxatdVxzu51KFcT9NbEHve_C-U</string>
	<key>GCM_SENDER_ID</key>
	<string>470335422668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taoteam.snuze</string>
	<key>PROJECT_ID</key>
	<string>snuze-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>snuze-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470335422668:ios:b6f28e5b3afe8839</string>
	<key>DATABASE_URL</key>
	<string>https://snuze-stage.firebaseio.com</string>
</dict>
</plist>