<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>261047112281-jp4ht8m9ca78mc197upqtd63d0b885uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261047112281-jp4ht8m9ca78mc197upqtd63d0b885uh</string>
	<key>API_KEY</key>
	<string>AIzaSyBS_9K1D-FuDoPi9Bqkh5dpT2wxnTXni4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>261047112281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snuze</string>
	<key>PROJECT_ID</key>
	<string>snuze-936af</string>
	<key>STORAGE_BUCKET</key>
	<string>snuze-936af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261047112281:ios:afbb06422ba14233</string>
	<key>DATABASE_URL</key>
	<string>https://snuze-936af.firebaseio.com</string>
</dict>
</plist>